.detail-panel{
	min-height: 600px;
}
.detail-panel .panel-title{
	font-size: 30px;
	margin-bottom: 10px;
}
.detail-panel .sub-title span{
	margin-right: 14px;
}

.comment-panel{
	min-height: 320px;
}