<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">	
	<title>热榜</title>
	<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/detail.css">
</head>
<body>
<!--顶部导航开始  -->
	<nav class="navbar navbar-default navbar-fixed-top blog" id="blog">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-nav" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">我的博客</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="top-nav">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="index.html">首页 <span class="sr-only">(current)</span></a></li>
	        <li><a href="list.html">HTML/CSS</a></li>
	        <li><a href="list.html">javaScript</a></li>
	        <li><a href="list.html">java</a></li>
	        <li><a href="list.html">node.js</a></li>
	        <li><a href="list.html">学无止境</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container -->
	</nav>
<!--顶部导航结束  -->
<!-- banner中心区开始 -->
	<section class="banner">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="panel panel-default aside-panel detail-panel">
					  <div class="panel-heading">
					    <h3 class="panel-title">响应式工具</h3>
					    <p class="sub-title">
					    	<span class="text-muted">Bootstrap</span>
					    	<span class="text-muted">2079-03-14</span>
					    	<span class="text-muted"><em>29869</em>人已读</span>
					    </p>
					  </div>
					  <div class="panel-body">
					    <div class="well">
					    	<strong>简介</strong>为了加快对移动设备友好的页面开发工作，利用媒体查询功能并使用这些工具类可以方便的针对不同设备展示或隐藏页面内容。另外还包含了针对打印机显示或隐藏内容的工具类。
					    </div>
						<p>.show 和 .hidden 类可以强制任意元素显示或隐藏(对于屏幕阅读器也能起效)。这些类通过 !important 来避免 CSS 样式优先级问题，就像 quick floats 一样的做法。注意，这些类只对块级元素起作用，另外，还可以作为 mixin 使用。.hide 类仍然可用，但是它不能对屏幕阅读器起作用，并且从 v3.0.1 版本开始就不建议使用了。请使用 .hidden 或 .sr-only 。另外，.invisible 类可以被用来仅仅影响元素的可见性，也就是说，元素的 display 属性不被改变，并且这个元素仍然能够影响文档流的排布。
						</p>		    
					  </div>
					</div>					

				</div>
				<div class="col-md-4">
					<div class="ad">
					    <a href="#" class="thumbnail">
					      <img src="imgs/bg4.jpg" alt="ad-one">
					    </a>
					</div>	
					<div class="ad">
					    <a href="#" class="thumbnail">
					      <img src="imgs/bg5.jpg" alt="ad-two">
					    </a>
					</div>
					<div class="panel panel-default aside-panel">
					  <div class="panel-heading">
					    <h3 class="panel-title">博主介绍</h3>
					  </div>
					  <div class="panel-body">
					    
						<div class="media">
						  <div class="media-left">
						    <a href="#">
						      <img src="imgs/blog.jpg" alt="" class="img-circle img-me">
						    </a>
						  </div>
						  <div class="media-body">
						    <h4 class="media-heading">Tom</h4>
						    Tom，90后程序员，Blogger。18年毕业，先后就职于洪恩软件、RocketSofeware和用友软件工程公司（后更名为瑞友科技），现任瑞友科技IT应用研究院副院长。该博客最初每天发送一条Mac技巧，不过目前已经形成了一种技术和人文结合的风格，时而随笔，时而技术。
						  </div>
						</div>					    
					  </div>
					</div>	
					<div class="panel panel-default aside-panel">
					  <div class="panel-heading">
					    <h3 class="panel-title">更新热榜</h3>
					  </div>
					  <div class="panel-body hot-body">
					    
						<ul class="list-group hot-list">
						  <li class="list-group-item text-ellipsis"><a href="detail.html" class="link" target="_blank">Dapibus ac facilisis in Morbi leo risus</a></li>
						  <li class="list-group-item text-ellipsis"><a href="detail.html" class="link" target="_blank">Dapibus ac facilisis in Vestibulum at eros Porta ac consectetur ac</a></li>
						  <li class="list-group-item text-ellipsis"><a href="detail.html" class="link" target="_blank">Dapibus ac facilisis in Vestibulum at eros Porta ac consectetur ac</a></li>
						  <li class="list-group-item text-ellipsis"><a href="detail.html" class="link" target="_blank">Morbi leo risus Vestibulum at eros</a></li>
						  <li class="list-group-item text-ellipsis"><a href="detail.html" class="link" target="_blank">risus Vestibulum Porta risus Vestibulum ac consectetur ac</a></li>
						  <li class="list-group-item text-ellipsis"><a href="detail.html" class="link" target="_blank">						  
						  <li class="list-group-item text-ellipsis"><a href="detail.html" class="link" target="_blank">Morbi leo risus Vestibulum at eros</a></li>
						  <li class="list-group-item text-ellipsis"><a href="detail.html" class="link" target="_blank">risus Vestibulum Porta risus Vestibulum ac consectetur ac</a></li>
						  <li class="list-group-item text-ellipsis"><a href="detail.html" class="link" target="_blank">Vestibulum at eros Morbi leo risus</a></li>
						</ul>
					  </div>
					</div>


					<div class="panel panel-default aside-panel">
					  <div class="panel-heading">
					    <h3 class="panel-title">关注我</h3>
					  </div>
					  <div class="panel-body">
					    
						<img src="imgs/pay.jpg" class="img-responsive">					    
					  </div>
					</div>	



				</div>
			</div>
		</div>
	</section>
<!-- banner中心区结束 -->
<!-- 网站底部 -->
	<footer class="footer">
		© 2018
		<a href="#">kuazhu.com</a> 
		<a href="#">豫ICP备15027861号-2</a>
	</footer>
</body>
<script src="lib/jQuery/jquery-1.12.4.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
</html>