<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">	
	<title>HTML/CSS</title>
	<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/common.css">
</head>
<body>
<!--顶部导航开始  -->
	<nav class="navbar navbar-default navbar-fixed-top blog" id="blog">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-nav" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">我的博客</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="top-nav">
	      <ul class="nav navbar-nav">
	        <li><a href="index.html">首页 <span class="sr-only">(current)</span></a></li>
	        <li class="active"><a href="list.html">HTML/CSS</a></li>
	        <li><a href="list.html">javaScript</a></li>
	        <li><a href="list.html">java</a></li>
	        <li><a href="list.html">node.js</a></li>
	        <li><a href="list.html">学无止境</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container -->
	</nav>
<!--顶部导航结束  -->
<!-- banner中心区开始 -->
	<section class="banner">
		<div class="container">
			<div class="row">
				<div class="col-md-8">

					<div class="panel panel-default main-panel">
					  <div class="panel-heading">
					    <h3 class="panel-title"><a href="list.html" target="_blank" class="link">移动设备优先</a></h3>
					  </div>
					  <div class="panel-body">
					     Bootstrap 专门构建了免费的 CDN 加速服务，访问速度更快、加速效果更明显、没有速度和带宽限制、永久免费。BootCDN 还对大量的前端开源工具库提供了 CDN 加速服务，请进入BootCDN 主页查看更多可用的工具库。
					     提供以下几种方式帮你快速上手，每一种方式针对具有不同技能等级的开发者和不同的使用场景。继续阅读下面的内容，看看哪种方式适合你的需求吧。
					     Bootstrap 提供了两种形式的压缩包，在下载下来的压缩包内可以看到以下目录和文件，这些文件按照类别放到了不同的目录内，并且提供了压缩与未压缩两种版本。
					  </div>
					  <div class="panel-footer">
					  	<span class=" glyphicon glyphicon-user"></span>
					  	<span class="text-muted">Tom</span>
					  	<span class=" glyphicon glyphicon-th-list">
					  	</span>
					  	<span class="text-muted">panel-footer</span>
					  	<span class=" glyphicon glyphicon-eye-open">
					  	</span>
					  	<span class="text-muted"><em>1999</em>已阅读</span>	
					  	<span class=" glyphicon glyphicon glyphicon-time">
					  	</span>
					  	<span class="text-muted">2019-3-13</span>					  					  	
					  </div>
					</div>
					<div class="panel panel-default main-panel">
					  <div class="panel-heading">
					    <h3 class="panel-title"><a href="list.html" target="_blank" class="link">移动设备优先</a></h3>
					  </div>
					  <div class="panel-body">
					     Bootstrap 专门构建了免费的 CDN 加速服务，访问速度更快、加速效果更明显、没有速度和带宽限制、永久免费。BootCDN 还对大量的前端开源工具库提供了 CDN 加速服务，请进入BootCDN 主页查看更多可用的工具库。
					     提供以下几种方式帮你快速上手，每一种方式针对具有不同技能等级的开发者和不同的使用场景。继续阅读下面的内容，看看哪种方式适合你的需求吧。
					     Bootstrap 提供了两种形式的压缩包，在下载下来的压缩包内可以看到以下目录和文件，这些文件按照类别放到了不同的目录内，并且提供了压缩与未压缩两种版本。
					  </div>
					  <div class="panel-footer">
					  	<span class=" glyphicon glyphicon-user"></span>
					  	<span class="text-muted">Tom</span>
					  	<span class=" glyphicon glyphicon-th-list">
					  	</span>
					  	<span class="text-muted">panel-footer</span>
					  	<span class=" glyphicon glyphicon-eye-open">
					  	</span>
					  	<span class="text-muted"><em>1999</em>已阅读</span>	
					  	<span class=" glyphicon glyphicon glyphicon-time">
					  	</span>
					  	<span class="text-muted">2019-3-13</span>					  					  	
					  </div>
					</div>
					<div class="panel panel-default main-panel">
					  <div class="panel-heading">
					    <h3 class="panel-title"><a href="list.html" target="_blank" class="link">移动设备优先</a></h3>
					  </div>
					  <div class="panel-body">
					     Bootstrap 专门构建了免费的 CDN 加速服务，访问速度更快、加速效果更明显、没有速度和带宽限制、永久免费。BootCDN 还对大量的前端开源工具库提供了 CDN 加速服务，请进入BootCDN 主页查看更多可用的工具库。
					     提供以下几种方式帮你快速上手，每一种方式针对具有不同技能等级的开发者和不同的使用场景。继续阅读下面的内容，看看哪种方式适合你的需求吧。
					     Bootstrap 提供了两种形式的压缩包，在下载下来的压缩包内可以看到以下目录和文件，这些文件按照类别放到了不同的目录内，并且提供了压缩与未压缩两种版本。
					  </div>
					  <div class="panel-footer">
					  	<span class=" glyphicon glyphicon-user"></span>
					  	<span class="text-muted">Tom</span>
					  	<span class=" glyphicon glyphicon-th-list">
					  	</span>
					  	<span class="text-muted">panel-footer</span>
					  	<span class=" glyphicon glyphicon-eye-open">
					  	</span>
					  	<span class="text-muted"><em>1999</em>已阅读</span>	
					  	<span class=" glyphicon glyphicon glyphicon-time">
					  	</span>
					  	<span class="text-muted">2019-3-13</span>					  					  	
					  </div>
					</div>
					<div class="panel panel-default main-panel">
					  <div class="panel-heading">
					    <h3 class="panel-title"><a href="list.html" target="_blank" class="link">移动设备优先</a></h3>
					  </div>
					  <div class="panel-body">
					     Bootstrap 专门构建了免费的 CDN 加速服务，访问速度更快、加速效果更明显、没有速度和带宽限制、永久免费。BootCDN 还对大量的前端开源工具库提供了 CDN 加速服务，请进入BootCDN 主页查看更多可用的工具库。
					     提供以下几种方式帮你快速上手，每一种方式针对具有不同技能等级的开发者和不同的使用场景。继续阅读下面的内容，看看哪种方式适合你的需求吧。
					     Bootstrap 提供了两种形式的压缩包，在下载下来的压缩包内可以看到以下目录和文件，这些文件按照类别放到了不同的目录内，并且提供了压缩与未压缩两种版本。
					  </div>
					  <div class="panel-footer">
					  	<span class=" glyphicon glyphicon-user"></span>
					  	<span class="text-muted">Tom</span>
					  	<span class=" glyphicon glyphicon-th-list">
					  	</span>
					  	<span class="text-muted">panel-footer</span>
					  	<span class=" glyphicon glyphicon-eye-open">
					  	</span>
					  	<span class="text-muted"><em>1999</em>已阅读</span>	
					  	<span class=" glyphicon glyphicon glyphicon-time">
					  	</span>
					  	<span class="text-muted">2019-3-13</span>					  					  	
					  </div>
					</div>

					<nav aria-label="Page navigation" class="page-footer">
					  <ul class="pagination">
					    <li>
					      <a href="#" aria-label="Previous">
					        <span aria-hidden="true">&laquo;</span>
					      </a>
					    </li>
					    <li><a href="#">1</a></li>
					    <li><a href="#">2</a></li>
					    <li><a href="#">3</a></li>
					    <li><a href="#">4</a></li>
					    <li><a href="#">5</a></li>
					    <li>
					      <a href="#" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
					  </ul>
					</nav>

				</div>
				<div class="col-md-4">
					<div class="ad">
					    <a href="#" class="thumbnail">
					      <img src="imgs/bg4.jpg" alt="ad-one">
					    </a>
					</div>	
					<div class="ad">
					    <a href="#" class="thumbnail">
					      <img src="imgs/bg5.jpg" alt="ad-two">
					    </a>
					</div>
					<div class="panel panel-default aside-panel">
					  <div class="panel-heading">
					    <h3 class="panel-title">博主介绍</h3>
					  </div>
					  <div class="panel-body">
					    
						<div class="media">
						  <div class="media-left">
						    <a href="#">
						      <img src="imgs/blog.jpg" alt="" class="img-circle img-me">
						    </a>
						  </div>
						  <div class="media-body">
						    <h4 class="media-heading">Tom</h4>
						    Tom，90后程序员，Blogger。18年毕业，先后就职于洪恩软件、RocketSofeware和用友软件工程公司（后更名为瑞友科技），现任瑞友科技IT应用研究院副院长。该博客最初每天发送一条Mac技巧，不过目前已经形成了一种技术和人文结合的风格，时而随笔，时而技术。
						  </div>
						</div>					    
					  </div>
					</div>	
					<div class="panel panel-default aside-panel">
					  <div class="panel-heading">
					    <h3 class="panel-title">更新热榜</h3>
					  </div>
					  <div class="panel-body hot-body">
					    
						<ul class="list-group hot-list">
						  <li class="list-group-item text-ellipsis"><a href="detail.html" class="link" target="_blank">Dapibus ac facilisis in Morbi leo risus</a></li>
						  <li class="list-group-item text-ellipsis"><a href="detail.html" class="link" target="_blank">Dapibus ac facilisis in Vestibulum at eros Porta ac consectetur ac</a></li>
						  <li class="list-group-item text-ellipsis"><a href="detail.html" class="link" target="_blank">Dapibus ac facilisis in Vestibulum at eros Porta ac consectetur ac</a></li>
						  <li class="list-group-item text-ellipsis"><a href="detail.html" class="link" target="_blank">Morbi leo risus Vestibulum at eros</a></li>
						  <li class="list-group-item text-ellipsis"><a href="detail.html" class="link" target="_blank">risus Vestibulum Porta risus Vestibulum ac consectetur ac</a></li>
						  <li class="list-group-item text-ellipsis"><a href="detail.html" class="link" target="_blank">						  
						  <li class="list-group-item text-ellipsis"><a href="detail.html" class="link" target="_blank">Morbi leo risus Vestibulum at eros</a></li>
						  <li class="list-group-item text-ellipsis"><a href="detail.html" class="link" target="_blank">risus Vestibulum Porta risus Vestibulum ac consectetur ac</a></li>
						  <li class="list-group-item text-ellipsis"><a href="detail.html" class="link" target="_blank">Vestibulum at eros Morbi leo risus</a></li>
						</ul>
					  </div>
					</div>


					<div class="panel panel-default aside-panel">
					  <div class="panel-heading">
					    <h3 class="panel-title">关注我</h3>
					  </div>
					  <div class="panel-body">
					    
						<img src="imgs/pay.jpg" class="img-responsive">					    
					  </div>
					</div>	



				</div>
			</div>
		</div>
	</section>
<!-- banner中心区结束 -->
<!-- 网站底部 -->
	<footer class="footer">
		© 2018
		<a href="#">kuazhu.com</a> 
		<a href="#">豫ICP备15027861号-2</a>
	</footer>
</body>
<script src="lib/jQuery/jquery-1.12.4.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
</html>